.item-group {
  padding: 25px 20px;
  width: fit-content;
  margin: auto;
}

.group-wrapper--3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 780px;
}

.group-wrapper--4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
}
