.item-group {
  padding: 25px 20px;
}

.group-wrapper--3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 0.75rem;
}

.group-wrapper--4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  grid-gap: 0.75rem;
}
