.request-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 20px
}

.request-item-details {
  flex: 2
}

.status {
  background-color: lightgray;
  padding: 10px;
  border-radius: 2px;
  flex: 1;
}

.status > :first-child {
  margin-bottom: 15px;
}
