.title {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  display: inline-block;
}

.title--center {
  text-align: center;
}

.title--right {
  text-align: right;
}

.title--large {
  font-size: 32px;
  font-weight: 700;
}

.title--left {
  text-align: left;
}

.title--medium {
  font-size: 24px;
}

.title--small {
  font-size: 18px;
}