.title {
  display: inline-block;
}

/* alignment */
.title--left {
  text-align: left;
}

.title--center {
  text-align: center;
}

.title--right {
  text-align: right;
}

/* size */
.title--x-small {
  font-size: 15px;
  font-weight: 400;
}

.title--small {
  font-size: 18px;
  font-weight: 500;
}

.title--medium {
  font-size: 24px;
  font-weight: 600;
}

.title--large {
  font-size: 32px;
  font-weight: 700;
}
