.item {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
}

.item-description {
  font-size: 16px;
  font-weight: 300;
}

.item-name {
  font-size: 20px;
  font-weight: 500;
}

.item-image {
  width: 100%;
}

.item-wrapper {
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
  width: 240px;
}

.item-horizontal {
  display: flex;
  width: auto;
  height: 100px;
}

.item-image-horizontal {
  width: auto;
}
