* {
	margin: 0;
	padding: 0;
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.webstore-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pointer-cursor {
	cursor: pointer;
}

/* TODO(alishaevn): make this customizable */
.link {
  text-decoration: none;
  color: #000000;
}

// remove the valid input styles & styles on form fields that have the .prevent-validation class
.was-validated .prevent-validation-styles.form-control:valid,
.prevent-validation-styles.form-control.is-valid,
.was-validated .form-select:valid:not([multiple]):not([size]).prevent-validation-styles {
  background-image: none;
  border-color: var(--bs-gray-400);
}

// remove the input autofill styles
input:-webkit-autofill,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

select:-internal-autofill-selected.prevent-validation-styles {
  background-color: var(--bs-white) !important;
}