.nav-link {
  font-weight: 400;
	font-size: 16px;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
	text-decoration: none;
	color: #000000;
}

.nav-link:hover {
	color: #A9A9A9;
}

.nav-link + .nav-link {
	margin-left: 25px;
}