.footer-container {
  background-color: lightgray;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container > .container {
  padding: 15px 0;
}

.footer-sections {
  display: contents;
  width: 60%;
}

.footer-socials {
  width: 105px;
}
