.item-container {
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
  width: 250px;
}

.item-details {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 81.5%;
  padding-right: 15px;
}

.item-description {
  font-size: 16px;
  font-weight: 300;
}

.item-name {
  font-size: 20px;
  font-weight: 500;
}

.item-image {
  width: 100%;
}

.item-link {
  text-decoration: none;
  color: #000000;
}

.item-link:hover {
  color: #A9A9A9;
}

.item-name-button {
  cursor: pointer;
}

.item-button-vertical {
  margin: 15px;
  display: flex;
  flex-direction: row-reverse;
}

.item-horizontal {
  display: flex;
  width: auto;
  height: 175px;
}

.item-image-horizontal {
  width: 240px;
  border-right: 1px solid;
}

.item-button-horizontal {
  width: 157px;
}

.item-options-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}

.item-vertical {
  height: 300px;
}

.item-vertical + .item-vertical {
  margin-left: 33px;
}