/*********** all items ***********/
.is-loading {
  background-image: linear-gradient(lightgray, white);
}

.item-container {
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
  width: 250px;
}

.item-link:hover {
  color: #A9A9A9;
}

.item-vertical + .item-vertical {
  margin-left: 5px;
}



/************ vertical items ************/

.item-container.item-vertical {
  width: 325px;
}

.item-vertical {
  height: 350px;
}


/************ horizontal items ************/

.item-horizontal {
  display: flex;
  width: auto;
  height: 175px;
  margin-bottom: 30px;
}

.item-options-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25px;
} 

.cover {
  object-fit: cover
}