.link {
	font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.link-group-links {
	color: #000000;
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
	text-decoration: none;
}
