button + button {
  margin-left: 10px;
}

.header-container {
  background-color: lightgray;
  height: 100px;
  align-content: center;
  display: flex;
}

header > div.container {
  padding: 0;
  width: 100%;
}
